@model PagedList.IPagedList<Lesson_2.Models.Employee>
@using PagedList.Mvc

    <link href="~/Content/PagedList.css" rel="stylesheet" />




@{
    ViewBag.Title = "Index";
}

<br />
<h2>Employees</h2>
<br />

<form action="/Employee/index" method="get">

    <label for="searchName">Find By Name:</label>
    <input id="searchName" type="text" name="searchName" value="" />


    <input id="searchSalaryMin" type="number" name="searchSalaryMin" value="" placeholder="Min Salary" />


    <input id="searchSalaryMax" type="number" name="searchSalaryMax" value="" placeholder="Max Salary" />



    <input type="submit" value="Search" />
    <input type="reset" value="Clear" />

</form>

<hr />

        


Page @( Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber ) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
  
    

<hr />





<hr />



<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Card</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Projects</th>
            <th>Department</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var emp in Model)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>@emp.Card.Title</td>
                <td>@emp.Age</td>
                <td>@emp.Salary</td>
                <td>
                    <ul class="list-unstyled">
                        @foreach (var proj in emp.Projects)
                        {
                            <li>@string.Format("{0,-4} - {1,-4}", proj.Id, proj.Title)</li>

                        }


                    </ul>
                </td>
                <td>@emp.Department.Name</td>
            </tr>
        }

    </tbody>


</table>







