@model Lesson_2.ViewModels.AllEntitiesViewModel

@{
    ViewBag.Title = "Index";
}
<br />
<hr />
<H2 class="pb-3">Employees</H2>
<table class="table table-hover table-bordered" style="width:380px">

    <thead>
        <tr>
            <th class="text-center" width="10px">Id</th>
            <th width="200px">Name</th>
            <th class="text-center" width="20px">Age</th>
            <th width="150px">Salary</th>
        </tr>

    </thead>
    <tbody>

        @foreach (var emp in Model.Employees)
        {
            <tr>
                <td class="text-center">@emp.Id</td>
                <td>@emp.Name</td>
                <td class="text-center">@emp.Age</td>
                <td>@string.Format("{0:C0}",emp.Salary)</td>
            </tr>
        }


    </tbody>

</table>

<hr />
<H2 class="pb-3">Departments</H2>
<table class="table table-hover table-bordered" style="width:380px">

    <thead>
        <tr>
            <th class="text-center" width="10px">Id</th>
            <th width="200px">Name</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var dep in Model.Departments)
        {
            <tr>
                <td>@dep.Id</td>
                <td>@dep.Name</td>
            </tr>
        }
    </tbody>

</table>

<hr />
<H2 class="pb-3">Projects</H2>
<table class="table table-hover table-bordered" style="width:380px">

    <thead>
        <tr>
            <th class="text-center" width="10px">Id</th>
            <th width="200px">Title</th>
            <th>Start Date</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var pro in Model.Projects)
        {
            <tr>
                <td>@pro.Id</td>
                <td>@pro.Title</td>
                <td>@string.Format("{0:d/M/yyyy}", pro.StartDate)</td>
            </tr>
        }
    </tbody>

</table>

<hr />
<H2 class="pb-3">Cards</H2>
<table class="table table-hover table-bordered" style="width:380px">

    <thead>
        <tr>
            <th class="text-center" width="10px">Id</th>
            <th width="200px">Title</th>
          
        </tr>

    </thead>
    <tbody>

        @foreach (var card in Model.Cards)
        {
            <tr>
                <td>@card.Id</td>
                <td>@card.Title</td>


            </tr>
        }

    </tbody>


</table>
